
<meta charset="UTF-8">
<div class="nav">
    <h1>Meu Primeiro Componente</h1>
    <ul class="topnav">
        <a class="nav_home_fixed" href="/content/training/en.html">Home</a>
    </ul>
    <img class="picture" src="https://cdn.leroymerlin.com.br/products/piscina_inflavel_redonda_lounge_pool_640l_89576795_0001_600x600.jpg">
    <p>Piscina inflável super chic para a família</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In dui sapien, faucibus sit amet dolor ut, pharetra pulvinar lacus.
        Quisque sit amet euismod quam, aliquam lacinia leo. Aenean eget ullamcorper tellus.
        Sed ut accumsan purus. Nulla finibus purus non est malesuada eleifend.
        Donec hendrerit, purus id congue porttitor, velit massa molestie tellus,
        id eleifend ligula nibh nec augue. Morbi rutrum lacus quis fermentum placerat.
        Integer id fermentum ante. Ut imperdiet, nisi at euismod blandit, leo orci lobortis dolor,
        at malesuada lacus magna eu ex. Quisque nibh massa, posuere quis accumsan at, porttitor interdum ipsum.
        Phasellus eu faucibus erat. Donec est felis, tincidunt ut diam a, euismod suscipit ante. </p>
</div>