scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/projetoaem
        create path (nt:unstructured) /content/dam/projetoaem/jcr:content
        set properties on /content/dam/projetoaem/jcr:content
        set cq:conf{String} to /conf/projetoaem
        set jcr:title{String} to \"Projeto AEM\"
        end
        "
]
